<article class="post-detail">
  <h2>{{post.title}}</h2>

  <div class="dropdown">
      <button class="post-edit-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin post
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/blog/{{post.id}}/edit">Edit post</a>
        <a class="dropdown-item" routerLink="/blog/{{post.id}}/delete-post">Delete post</a>
      </div>
  </div>
  <hr>

  <div class="post-content">{{post.body}}</div>
  <hr>

  <div>
      <h4>Write your comment:</h4>
      <app-comment-form class="comment-form" (newComment)="onNewComment($event)" [postId]="postId"></app-comment-form>
  </div>

  <hr>
  <div id="comments">
      <h4>Comments:</h4>
      <ul>
        <li *ngFor="let comment of comments">
          <h3>{{comment.name}} says: {{comment.title}}</h3>
          <div class="comment-body">{{comment.body}}</div>
        </li>
      </ul>
  </div>
</article>