<article class="post-detail">
  <h2>{{post.title}}</h2>
  <div class="post-content">{{post.body}}</div>

  <div class="dropdown">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin post
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/blog/{{post.id}}/edit">Edit post</a>
        <a class="dropdown-item" routerLink="/blog/{{post.id}}/delete-post">Delete post</a>
      </div>
  </div>

  <div id="comments">
      <h2>Comments:</h2>
      <ul>
        <li *ngFor="let comment of comments">
          <h3>{{comment.name}} says: {{comment.title}}</h3>
          <div class="comment-body">{{comment.body}}</div>
        </li>
      </ul>
  </div>
    
  <div class="comment-form">
    <h2>Write your comment:</h2>
    <app-comment-form (newComment)="onNewComment($event)" [postId]="postId"></app-comment-form>
  </div>
</article>