<article class="post-detail">
  <h2>{{post.title}}</h2>
  <div class="post-content">{{post.body}}</div>

  <div class="dropdown">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin post
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/blog/{{post.id}}/edit">Edit post</a>
        <a class="dropdown-item" routerLink="/blog/{{post.id}}/delete-post">Delete post</a>
      </div>
    </div>
</article>